@use "../../../color-variables.scss" as *;

.footer {
  color: $primary-text;
  padding: 50px 20px 20px;
  font-family: Arial, sans-serif;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}   

.footer h2 {
  margin-bottom: 10px;
}

.footer h4 {
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-links a {
  display: block;
  color: $primary-text;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: $primary-color;
}

.footer-social .icons a {
  font-size: 22px;
  color: $secondary-text;
  margin-right: 15px;
  transition: 0.3s;
}

.footer-social .icons a:hover {
  color: $primary-color;
  transform: scale(1.2);
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  border-top: 1px solid $secondary-text;
  padding-top: 15px;
  font-size: 14px;
  color: #aaa;
}