<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
        <img ngSrc="/assets/credimais_logo_sem_fundo.png" width="120" height="50">
    </div>

    <div class="footer-links">
      <h4>Links Rápidos</h4>
      <a href="#main-section">Início</a>
      <a href="#button-section">Serviços</a>
      <a href="#about_us">Sobre</a>
      <a href="#cta-section">Contato</a>
    </div>

    <div class="footer-social">
      <h4>Redes Sociais</h4>
      <div class="icons">
        <a href="#" target="_blank">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
        <a href="#" target="_blank">
          <fa-icon [icon]="faLinkedin"></fa-icon>
        </a>
        <a href="https://wa.me/555432914810?text=Ol%C3%A1!%20Venho%20do%20site%20e%20gostaria%20de%20saber%20mais..." target="_blank">
          <fa-icon [icon]="faWhatsapp"></fa-icon>
        </a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    © {{ year }} Credimais Securitizadora S.A. Todos os direitos reservados.<br>
    Desenvolvido por Alexandre Ballardin
    <div class="icons">
      <a href="https://www.instagram.com/aballardin_/" target="_blank">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
      <a href="www.linkedin.com/in/alexandreballardin" target="_blank">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a href="https://wa.me/5554991763916?text=Ol%C3%A1!%20Venho%20do%20site%20e%20gostaria%20de%20saber%20mais..." target="_blank">
        <fa-icon [icon]="faWhatsapp"></fa-icon>
      </a>
    </div>
  </div>
</footer>

