.app-header {
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 3em;

    img {
        width: 100%;
        max-width: 500px; 
        max-height: 450px;
        height: 100%;
    }
}
