<div class="imagens-container">
    <div class="imagem-um" data-aos="zoom-out-up">
        <img ngSrc="/assets/duas_pessoas_com_papeis.png" priority width="700" height="460" alt="">
        <h3>Equipe Capacitada</h3>
        <p>Profissionais experientes com sólida atuação no mercado financeiro e estruturação de operações.</p>
    </div>
    <div class="imagem-dois" data-aos="zoom-out-up">
        <img ngSrc="/assets/uma_pessoa_focada.png" priority width="700" height="460" alt="">
        <h3>Parcerias Estratégicas</h3>
        <p>Atuamos lado a lado com nossos clientes para potencializar oportunidades.</p>
    </div>
</div>
