@use "../../../color-variables.scss" as *;

.imagens-container {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    gap: 40px;

    .imagem-um, .imagem-dois {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
            border-radius: 4px;
            max-width: 700px;
            width: 100%;
            max-height: 460px;
            height: 100%;
        }

        h3 {
            color: $primary-text;
            font-size: 28px;
        }

        p {
            color: $secondary-text;
            font-size: 20px;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}

@media (min-width: 1080px) {
    .imagens-container {
        flex-direction: row;
        gap: 80px;

        .imagem-um, .imagem-dois {
            max-width: 700px;

            img {
                border-radius: 4px;
            }

            h3 {
                color: $primary-text;
                font-size: 32px;
            }

            p {
                color: $secondary-text;
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
            }
        }
    }
}