<app-header></app-header>
<main>
    <section id="main-section">
        <div class="headline">
            <span>Credimais securitizadora S.A.</span>
            <h1>A securitizadora que você procura para o seu negócio.</h1>
        </div>
        <img ngSrc="/assets/pessoas-notebook.png" priority width="1000" height="700">
    </section>
    <section id="benefit-section">
        <div class="benefit-data">
            <h2>
                80% das <br/>
                empresas
            </h2>
        </div>
        <p>têm capital parado em recebíveis — poucas sabem transformar isso em <b>crescimento.</b></p>
    </section>
    <section id="button-section">
        <btn-primary 
            btn-text="Fale com a nossa equipe"
            (clicked)="callWhatsapp()">
        </btn-primary>
    </section>
    <section id="about_us">
        <app-about-us></app-about-us>
    </section>
    <section id="extra-infos">
        <app-extra-infos></app-extra-infos>
    </section>
    <section id="cta-section">
        <app-cta-section></app-cta-section>
    </section>
    <app-footer></app-footer>
</main>
