
@use "../../../color-variables.scss" as *;

main{
    display: flex;
    flex-direction: column;
    gap: 84px;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
    font-family: "Roboto", sans-serif;

    img {
        width: 100%;
        max-width: 900px; 
        height: auto;
    }

    span {
        font-size: 20px;
        font-weight: 700;
        color: $secondary-text;
    }

    h1 {
        font-size: 44px;
        font-weight: 900;
        color: $primary-text;
    }
}

.benefit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 1.5rem; 
    gap: 100px;

    .benefit-data {
        border-bottom: 10px solid $primary-color;
        padding-bottom: 40px;

        h2 {
            font-size: 60px;
            font-weight: 600;
            font-family: "Roboto", sans-serif;
            color: $primary-text;

        }
    }

    p {
        font-size: 40px;
        font-style: italic;
        font-weight: 300;
        color: $primary-text;
        text-align: center;

        b {
            background: -webkit-linear-gradient(180deg, $light-primary, $primary-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: normal;

        }
    }
}

.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_us {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1080px) {
    .main-section {
        flex-direction: row;
        padding: 0 6em;

        span {
            font-size: 20px;
            font-weight: 700;
            color: $secondary-text;
        }

        h1 {
            font-size: 72px;
            font-weight: 900;
            color: $primary-text;
        }
    }

    .benefit-section {
        flex-direction: row;
        padding: 0 6em;

        p {
            text-align: start;
        }
    }


}
