<div class="about_us_cont">
    
    <div class="title" data-aos="fade-right">
        <h1>Quem Somos Nós?</h1>
    </div>
    <div class="text" data-aos="fade-left">
        <p>
            A Credimais Securitizadora S.A., fundada em maio de 2023 e com atuação no segmento desde 2005, é uma instituição especializada em securitização de créditos, com sede em São Marcos, RS. Atuamos na transformação de recebíveis — como duplicatas, contratos e vendas a prazo — em ativos financeiros estruturados, proporcionando liquidez imediata às empresas e fortalecendo seu fluxo de caixa com soluções ágeis, seguras e alinhadas às normas do mercado de capitais. Com expertise regional e visão estratégica, oferecemos aquisição de direitos creditórios, gestão de ativos e antecipação de recebíveis, sempre com transparência, rigor jurídico e compromisso com o desenvolvimento econômico de nossos parceiros.
        </p>
    </div>
</div>
