@use "../../../color-variables.scss" as *;

.about_us_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(180deg, $secondary-color, $dark-primary);
    padding: 2rem 1.5rem;
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    
    .title {
        width: 100%;
        color: $primary-text;

        h1 {
            margin: 0;
            font-size: clamp(36px, 10vw, 72px);
            line-height: 1;
            font-weight: 700;
        }
    }

    .text {
        width: 100%;
        
        p {
            margin: 0;
            font-size: clamp(16px, 4vw, 20px);
            line-height: 1.5;
        }
    }
}

@media (min-width: 1080px) {
    .about_us_cont {
        flex-direction: row;
        align-items: flex-start;
        padding: 6rem 8rem;
        gap: 40px;

        .title {
            margin-top: 20px;
            text-align: justify;
            width: 40%;
            
            h1 {
                font-size: clamp(72px, 10vw, 158px);
                line-height: 0.85;
                font-weight: 700;
            }
        }

        .text {
            width: 50%;
            text-align: justify;

            p {
                margin: 0;
                font-size: 24px;
                line-height: 1.6;
                font-weight: 400;
            }
            
        }
    }
}